<!DOCTYPE html>
{% extends 'inc/navbar.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static '/clientapp/css/book_detail.css' %}">
</head>
<main class="container">
  <!-- Left Column / Headphones Image -->
  <div class="left-column">
    <img data-image="black" src="images/black.png" alt="">
    <img data-image="blue" src="images/blue.png" alt="">
    <img data-image="red" class="active" src="{{book.thumb.url}}" alt="" >
  </div>
  <!-- Right Column -->
  <div class="right-column">
    <!-- Product Description -->
    <div class="product-description">
      <span>{{book.genre}}</span>
      <h1>{{book.name}}</h1>
      <p>{{book.description}}</p>
    </div>

    <!-- Product Configuration -->
    <div class="product-configuration">

      <!-- Product Color -->
      <div class="product-color">
        <span>Available In</span>
        <div class="color-choose">
          <div>
            <select id="type">
              <option value="0">--Select--</option>
              <option value="paperback">{{book.type}}</option>
              <option value="paperback">Paperback</option>
            </select>
<!--            <input data-image="red" type="radio" id="red" name="color" value="red" checked>-->
<!--            <label for="red"><span>Hard</span></label>-->
          </div>
        </div>
      </div>

      <!-- Cable Configuration -->
      <div class="cable-config">
        <span>Quantity</span>
        <div class="cable-choose">
         <input type="number" id="quantity" name="quantity" min="1" max="5" style="width: 25%;">
        </div>
<!--        <a href="#">How to configurate your headphones</a>-->
      </div>

<!--      <div class="cable-config">
        <span>Cable configuration</span>
        <div class="cable-choose">
          <button>Straight</button>
          <button>Coiled</button>
          <button>Long-coiled</button>
        </div>
        <a href="#">How to configurate your headphones</a>
      </div>
    </div>-->

    <!-- Product Pricing -->
    <div class="product-price">
      <i class="fa fa-inr" aria-hidden="true" style="font-size:20px;"></i> &nbsp<span>{{book.price}}</span>
      <a href="#" class="cart-btn">Add to cart</a>&nbsp &nbsp&nbsp &nbsp <a href="#" class="cart-btn">Buy Now</a>
    </div>
  </div>
</main>
</body>
</html>
{% endblock %}