<html>
{% load crispy_forms_tags %}
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
        $(document).ready(function(){
            $("#forgot-form").hide();
            $(".register-form-link").click(function(e){
            $("#login-form").slideUp(0);
            $("#forgot-form").slideUp(0)
            });

            $(".login-form-link").click(function(e){
            $("#forgot-form").slideUp(0);
            $("#login-form").fadeIn(300);
            });

            $(".forgot-form-link").click(function(e){
            $("#login-form").slideUp(0);
            $("#forgot-form").fadeIn(300);
            });
	    });
	});
    </script>
</head>
<!------ Include the above in your HEAD tag ---------->
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <br>
                <h1 class="col-md-6 mx-auto">Welcome to APPLEDORE :-)</h1>
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <!-- form card login start-->
                        <div class="card rounded-0" id="login-form">
                            <div class="card-header">
                                <h3 class="mb-0">Login</h3>
                            </div>
                            {% if failed %}
                                <div class="alert alert-warning" role="alert">
                                    Invalid Credentials
                                </div>
                            {% else %}
                            <div class="card-body">
<!--                                Here action name is equal to the name of view given in url file-->
                                <form method="POST" action="{% url 'client_app:login' %}">
                                    {% csrf_token %}
<!--                                    Cross Site Request Forgery-->
                                    <div class="form-group">
										<label>Username</label>
                                        <input type="text" name="username" placeholder="Username" class="form-control form-control-lg rounded-0">
									</div>
                                    <div class="form-group">
										<label>Password</label>
										<input type="password" name="password" class="form-control form-control-lg rounded-0">
									</div>
                                    <button type="submit" class="btn btn-success btn-lg float-right" >Login</button>
                                    <label class="custom-control custom-checkbox">
                                        <a href="{% url 'client_app:register' %}" class="register-form-link">Register</a> |
                                        <a href="javascript:void('forgot-form-link');" class="forgot-form-link">Forgot Password</a>
                                    </label>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                        <!-- form card login end -->

                        <!-- form card forgot start -->
                        <div class="card rounded-0" id="forgot-form">
                            <div class="card-header">
                                <h3 class="mb-0">Reset Password</h3>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                                    <div class="form-group">
                                        <label>E-mail</label>
                                        <input type="email" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password">
                                    </div>
                                    <div>
                                    <label class="custom-control custom-checkbox">
                                         <a href="{% url 'client_app:register' %}" class="register-form-link">Register</a>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                         <a href="{% url 'client_app:login' %}" class="login-form-link">Login</a>
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Reset Password</button>
                                </form>
                            </div>
                        </div>
                        <!-- form card forgot end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

